
    <% include headerLayout.ejs %>
    <p>Welcome to <%= title %> <%= name %></p>
    <p>Welcome to <%= title %> <%= name %></p>
    <p>Welcome to <%= title %> <%= name %></p>
    <p>Welcome to <%= title %> <%= name %></p>
    <% include footerLayout.ejs %>
